.purplebackground{
  background-color: purple;
}

.ball{
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 50%;
  border: none; /* Removes the default button border */
  display: inline-flex; /* Use flex to center content, if needed */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  cursor: pointer; /* Changes cursor to pointer on hover */
  outline: none; /* Removes the default focus outline */
  padding: 0; /* Removes default padding */
}
